.bifrost__main-note {
	display: flex;
	justify-content: center;
	margin-top: 20vh;
	align-items: center;
}

.bifrost__main-ph {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 60px;
}

.bifrost__main-note-box {
	width: 60%;
	padding: 20px;
}

.bifrost__main-note-p {
	font-size: 16px;
	margin-top: 50px;
	padding-right: 80px;
}

.bifrost__main-note-2 {
	margin-top: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bifrost__main-note-box-2 {
	background-color: var(--tertiary-brown);
	height: auto;
	width: 80%;
	margin: 20px;
	border-radius: 10px;
	padding: 20px;
	padding: 10px 50px 25px 50px;
	text-align: center;
}

@media screen and (max-width: 480px) {
	.bifrost__main-note {
		flex-wrap: wrap;
	}

	.bifrost__main-note-p-2,
	.bifrost__main-note-p {
		font-size: 12px;
	}

	.bifrost__main-note-p-2 {
		text-align: left;
	}

	.bifrost__main-note-p {
		margin-left: 0;
		margin-right: 0;
	}
	.bifrost__main-note-box {
		padding: 20px;
		padding-right: 0;
		width: 100%;
	}

	.bifrost__main-note-box-2 {
		padding: 30px;
	}

	.bifrost__main-note-box-2 {
		padding: 30px;
		width: 100%;
	}
	.bifrost__main-note-2 {
		margin-top: 50px;
	}

	.bifrost__main-ph {
		width: 100%;
		margin-left: 0;
	}
}
