@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('./home.css');
@import url('./navbar.css');
@import url('./about.css');
@import url('./footer.css');
@import url('./team.css');
@import url('./drives.css');
@import url('./bifrost.css');
@import url('./missioncard.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins'; 
  background-color: #fff4ee;
  color: #53301D;
  overflow-x: hidden;
}

:root{
  --primary-pink: #FFCFD1;
  --primary-brown: #53301D;
  --secondary-brown: rgba(83, 48, 29, 0.69);
  --tertiary-brown: rgba(255, 239, 229, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
