@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('./home.css');
@import url('./navbar.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff4ee;
  color: #53301D;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
