.mission-card {
  background-color: var(--tertiary-brown);
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  justify-content: flex-start;
  border-radius: 5px;
  margin-right: 2vw;
  margin-left: 2vw;
}

.mission-card-info {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  align-items: center;
}

.mission-card-description {
  font-size: 16px;
  color: #876450;
  font-weight: 500;
  margin-top: 2vh;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  text-align: center;
}

.mission-card-more {
  text-decoration: none;
  text-align: right;
  align-self: flex-end;
  margin-right: 40px;
  cursor: pointer;
  color: #876450;
  font-weight: 500;
  font-size: 16px;
  margin-top: 6vh;
}

.mission-card-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.mission-card-img {
  background-color: black;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
  width: 350px;
}
