.navbar {
  height: 14vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  z-index: 2;
  background-color: #fff4ee;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  text-decoration: underline;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar__links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  list-style-type: none;
  align-items: center;
}

.navbar__links a {
  text-decoration: none;
}

.navbar__burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 28px;
}

.navbar__burger-line {
  height: 3px;
  width: 100%;
  background-color: var(--primary-brown);
}

.navbar__dot,
.socials__dot {
  font-size: 24px;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 6vw;
}

.navbar__logo span {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 1vw;
}

.navbar__image-container {
  width: 8vh;
  height: 8vh;
}

.navbar__image {
  object-fit: cover;
}

.navbar__hamburger div {
  width: 30px;
  height: 3px;
  background-color: var(--primary-brown);
  margin: 6px;
}

.navbar__hamburger {
  display: none;
  margin-right: 24px;
  cursor: pointer;
}

.navbar__toggle .navbar__hamburger-1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}
.navbar__toggle .navbar__hamburger-2 {
  opacity: 0;
}

.navbar__toggle .navbar__hamburger-3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

@media screen and (max-width: 1024px) {
  .navbar__links {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .mission-card-img-container {
    display: none;
  }

  .home__mission-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 2vh;
  }

  .mission-card {
    height: 200px;
    width: 84vw;
  }

  .navbar {
    border-bottom: 1px solid var(--primary-brown);
  }

  .navbar__links {
    position: fixed;
    right: 0px;
    height: 86vh;
    top: 14vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    border-left: 1px solid var(--primary-brown);
    background: #fff4ee;
    z-index: 1;
    padding-right: 8%;
  }

  .navactive {
    transform: translateX(0%);
  }

  .navbar__dot {
    display: none;
  }

  .navbar__link {
    width: fit-content;
  }

  .navbar__hamburger {
    display: block;
    margin-right: 4vw;
  }
}
