.navbar {
  height: 14vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  text-decoration: underline;
}

.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 36%;
  margin-right: 6vw;
}

.navbar__burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 28px;
}

.navbar__burger-line {
  height: 3px;
  width: 100%;
  background-color: var(--primary-brown);

}

.navbar__dot {
  font-size: 24px;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 6vw;
}

.navbar__logo span {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 1vw;
}

.navbar__image {
  height: 8vh;
}

@media screen and (max-width: 768px) {
  .navbar__links {
    width: 50%;
  }
}

