.team__main {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
	margin-top: 50px;
}

.left,
.right {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 50px 0 50px;
	cursor: pointer;
}

.team__main-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.team__main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 30px;
	padding: 0px 100px 0 100px;

}
.team__main-container-desc {
	padding: 0 90px 0 90px;
	line-height: 30px;
	font-size: 14px;
}

.team__main-container-photo {
	border-radius: 50px;
}

.team__main-container-name {
	margin-top: 20px;
}

.photo__team {
	border-radius: 50%;
}

.team__main-container-pos {
	color: var(--secondary-brown);
}

.team__main-container-pos h2 {
	font-weight: 500;
	font-size: 20px;
}

.team__main-container-name {
	font-size: 12px;
	font-weight: 600;
}
